<h1>Actors</h1>

<%=form_tag (actors_path, method: :get) do %>
    <%=text_field_tag :search, params[:search]%>
    <%=submit_tag "Search ðŸ”"%>
<%end%>
<ul>
    <% @actors.each do |actor| %>   
        <li>
            <%= link_to actor.name, actor_path(actor) %> 
            <img src=<%=actor.image%> alt=<%=actor.name%> />    
        </li>
    <%end%>
</ul>
