<div id="actorindex" >
<h1>Actors</h1>

<%=form_tag('/actors', method: :get) do %>
    <p class="search" > Case Sensitive </p>
    <%=text_field_tag :search, params[:search]%>
    <%=submit_tag "Search ðŸ”"%>
<%end%>

    <%if flash[:message]%>
            <p><%=flash[:message]%></p>
    <%end%>

<div class="list">
    <p id="features"><strong>Featured Actors</strong></p>
<ul>

    <% @actors.sample(8).each do |actor| %>   
        <li>
            <%= link_to actor.name, actor_path(actor) %> 
            <img src=<%=actor.image%> alt=<%=actor.name%> />    
        </li>
    <%end%>
</ul>
</div>
</div>