<h1>Edit Admin Profile</h1>

    <%= form_for @admin do |f|%>

        <%=f.label :name%>
        <%=f.text_field :name%>
        <br>
        <%=f.label :username%>
        <%=f.text_field :username%>
        <br>
        <%=f.label :password%>
        <%=f.password_field :password%>
        <br>
        <%=f.submit "Edit Profile"%>
    <%end%>

    <%if flash[:message]%>
        <%flash[:message].each do |message|%>
            <p><%=message%></p>
        <%end%>
    <%end%>