<h1> Add a Creative to the Team </h1>


<%=form_for @creative_show do |f|%>
  <%=f.label :creative_id, "#{Creative.find(params[:format]).name}" %> 
  <%=f.hidden_field :creative_id, :value => params[:format] %>
  <%=f.label :show_id %> 
  <%=f.collection_select :show_id, Show.all, :id, :name %> 
  <%=f.submit "Add Creative to Team" %> 
<%end%> 
