<h1>Cast Actor</h1>


    <%=form_for @actor_character do |f|%>
        <%=f.label :actor_id %> 
        <%=f.search_field  :actor_id, Actor.all, :id, :name %> 
        <%=f.label :character_id %> 
        <%=f.collection_select :character_id, Character.all, :id, :name %> 
        <%=f.submit "Cast Actor" %> 
    <%end%> 

