<h1>Creatives</h1>

<%=form_tag('/creatives', method: :get) do %>
    <%=text_field_tag :search, params[:search]%>
    <%=submit_tag "Search ðŸ”"%>
<%end%>

    <%if flash[:message]%>
            <p><%=flash[:message]%></p>
    <%end%>
    
<ul>
    <% @creatives.each do |creative| %>   
        <li>
            <%= link_to creative.name, creative_path(creative) %> 
            <img src=<%=creative.image%> alt=<%=creative.name%> />    
        </li>
    <%end%>
</ul>

   

