<h1><%=@creative.name%></h1>

<div> 
    <img src=<%=@creative.image%> alt=<%=@creative.name%> />
</div>

<p><%= @creative.bio %> </p>

<p><a href = "<%=@creative.website%>"><%=@creative.website%> </a></p>

<ul>
        <% @creative.shows.each do |show| %>
            <li>
                Show -- <%= link_to show.name, show_path(show)%>
            </li>
        <%end%>
    </ul>