<div id="creativeindex">
    <h1><%=@creative.name%></h1>
    <div class="row">
        <div class= "pic column"> 
            <img src=<%=@creative.image%> alt=<%=@creative.name%> />
        </div>

        <div class="column ptag">
            <p><%= @creative.bio %> </p>
            </div> 
    </div>  

    <p class="element"><a href = "<%=@creative.website%>"><%=@creative.website%> </a></p>

    <ul class="element">
        <% @creative.shows.each do |show| %>
            <li>
                Show -- <%= link_to show.name, show_path(show)%>
            </li>
        <%end%>
    </ul>
    
    <%= button_to "Add To Team", new_creative_show_path(creative_id = @creative.id), method: "get" %>
    <%= button_to "Delete Profile", creative_path(@creative), method: "delete" %>
   
