<div id="show_index">
    <h1 class="show_header">On Broadway</h1>

    <%=form_tag('/shows', method: :get) do %>
        <%=text_field_tag :search, params[:search]%>
        <%=submit_tag "Search ðŸ”"%>
    <%end%>

        <%if flash[:message]%>  
                <p><%=flash[:message]%></p>
        <%end%>
    <div class="list">
    <ul class="shows">
        <% @shows.each do |show| %>   
            <li class="poster">
                <img class="show_poster" src=<%=show.image%> alt=<%=show.name%> /> 
                <br>
            <p class="show_name"> <%= link_to show.name, show_path(show) %> </p>
                
            </li>
        <%end%>
    </ul>
    </div>
</div>

 