<h1>New Show</h1>
    <%= form_for @show do |f|%>

        <%=f.label :name%>
        <%=f.text_field :name%>
        <br>
        <%=f.label :description%>
        <%=f.text_field :description%>
        <br>
        <%=f.label :theater%>
        <%=f.text_field :theater%>
        <br>
        <%=f.label :website%>
        <%=f.text_field :website%>
        <br>
        <%=f.label :image%>
        <%=f.text_field :image%>
        <br>
        <%=f.hidden_field :admin_id, :value => params[:format] %>
        <br>
        <%=f.submit "New Show"%>
    <%end%>


    <%if flash[:message]%>
        <%flash[:message].each do |message|%>
            <p><%=message%></p>
        <%end%>
    <%end%>