<h1><%= @show.name %>'s Home Page </h1>

<div> 
    <img src=<%=@show.image%> alt=<%=@show.name%> />
</div>

<p><%=@show.description%></p>

<p> NOW PLAYING AT - <%=@show.theater%> </p>

<h3> CAST AND CREATIVE </h3>

    <ul>
        <%@show.characters.each do |character|%>
            <li>
                <%= link_to character.name, character_path(character) %> 
                <% if character.actors.empty?%>
                    <%= "This role is not currently cast." %>
                <%else character.actor_characters.select do |actor| %>
                    <% if actor.current == true %>
                      Played By --- <%= link_to Actor.find_by(id: actor.actor_id).name,  actor_path(actor.actor_id) %>
                    <%end%>
                    <% if actor.current.all == false %>
                        <%= "This role is not currently cast SOMETHING EXTRA"%>
                    <%end%>
                <%end%>
                <%end%>

                
                
         
                 
            </li>
        <%end%>
    </ul>

<p> For Showtimes and Ticketing Please Visit Us At: <a href = "<%=@show.website%>"><%=@show.website%> </a></p>





