<h1><%= @show.name %>'s Home Page </h1>

<div> 
    <img src=<%=@show.image%> alt=<%=@show.name%> />
</div>

<p><%=@show.description%></p>

<p> NOW PLAYING AT - <%=@show.theater%> </p>

<p> For Showtimes and Ticketing Please Visit Us At: <%=@show.website%></p>





