<h1><%= @show.name %>'s Home Page </h1>

<div> 
    <img src=<%=@show.image%> alt=<%=@show.name%> />
</div>

<p><%=@show.description%></p>

<p> NOW PLAYING AT - <%=@show.theater%> </p>

<h3> CAST AND CREATIVE </h3>

    <ul>
        <%@show.characters.each do |character|%>
            <li>
                <%= link_to character.name, character_path(character) %> 
                <% if character.actors.empty?%>
                       <%= "This role is not currently cast." %>
                     <%else %>
                 Played By --- <%= link_to character.actor_name.name,  actor_path(character.actor_name.id) %>
                 <%end%>
                 
            </li>
        <%end%>
    </ul>

<p> For Showtimes and Ticketing Please Visit Us At: <a href = "<%=@show.website%>"><%=@show.website%> </a></p>





