<!DOCTYPE html>
<html>
  <head>
    <title>OnBroadway</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
    <div class="header">
        <a href="/shows">
          <img src="/image/OnBroadwayLogo.jpg" alt="On Broadway" style="width:300px"/>
        </a>
        <div id="login">
        <% if check_for_login %>
          <p class="user"> <%= set_current_user.name %> is logged in </p>
          <%= button_to "Log out", logout_path, method: "delete" %>
        <% else %>
            <p>Someone is NOT logged in </p>
        <% end %>
        </div>
    </div>

    <div class="nav">
      <ul class="navlist">
        <li class="navitems"><a href="/shows" tabindex="1">Home</a></li>
        <li class="navitems"><a href="/actors" tabindex="1">Actors</a></li>
        <li class="navitems"><a href="/creatives" tabindex="1">Creative</a></li>
      </ul>
    </div>

  </header>

    <%= yield %>
  </body>
</html>
